.article-header {
    text-align: center; 
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("https://i.ibb.co/GsmtQFS/header.jpg");  
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    min-height: 50vh;
    padding-top: 17rem;
}
.article-header h1 {
    font-size: 3.5rem;
    color: var(--blue);
    margin-bottom: 1rem;
    font-weight: 700;
}
.article-header p {
    color: #eee;
    font-weight: 500;
    font-size: 1.5rem;
}

