
.container.article, .container.article-detail {
    display: block;
}

.article-wrap {
    max-width: 700px;
    margin: 0 auto;
}
.article-goback {
    text-decoration: none;
    font-size: 2rem;
    color: #a9a9a9;
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: block;
}
.article-wrap header {
    text-align: center;
}
.article-date {
    font-size: 1.2rem;
    color: #a9a9a9;
    font-weight: 500;
}
.article-wrap img {
    width: 100%;
}
.article-subcategory {
    display: flex;
    justify-content: center;
}
.article-subcategory >div {
    margin: 1rem;
}
.article-content {
    padding: 1rem;
    margin-top: 1.5rem;
    font-size: 1.3rem;
    text-align: justify;
    color: var(--light-black);
}