.ebookitem-wrap {
  display: flex;
  flex-direction: column;
}
.ebookitem-cover {
  width: 90%;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0.5rem;
}
.ebookitem-wrap h3 {
  margin: 0.5rem 0 1rem 0;
  flex: 1;
}
.ebookitem-desc {
  position: relative;
  max-height: 50px;
  overflow: hidden;
  font-size: 1rem;
  padding-right: 0.6rem;
  color: #a9a9a9;
}
.ebookitem-desc::before {
  position: absolute;
  content: ". . .";
  bottom: 0;
  right: 0;
}
.ebookitem-wrap footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}
.ebookitem-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.5rem;
}
.ebookitem-author {
  display: flex;
  align-items: center;
}
.ebookitem-author img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.5rem;
}
.ebookitem-author p {
  font-size: 0.9rem;
  color: #a9a9a9;
  font-weight: 600;
}

.footer {
  display: flex;
  justify-content: space-between;
}