@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #fff;
  --black: #000;
  --light-black: #585858;
  --light-bg: #e4f5ff;
  --blue: #56c0ff;
  --blue2: #7fbadf;
  --blue3: #7fb9df;
  --light-blue: #e4f5ff;
  --orange: #ffdba4;
  --peach: #ffc7c7;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.5s linear;
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar track {
  background-color: transparent;
}

::-webkit-scrollbar thumb {
  background-color: var(--black);
  border-radius: 5rem;
}

body {
  background-color: var(--white);
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

section {
  margin: 0 auto;
  padding: 1rem;
  padding-left: 0;
}

/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  } */
  
  /* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  } */
  /* a:hover {
    color: #535bf2;
  } */
  
  /* body {
    margin: 0;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  } */
  
  #sectionvid {
    margin: 0 auto;
    padding: 0rem 20rem;
  }
  
  @media screen and (max-width: 768px) {
    #sectionvid {
      margin: 0 auto;
      padding: 10rem ;
    }
  }

  @media screen and (max-width: 376px) {
    #sectionvid {
      margin: 0 auto;
      padding: 5rem ;
    }
  }
  
  /* h1 {
    font-size: 3rem;
    line-height: 1.1;
  } */
  
  
  /* button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  } */
  
  /* @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
   */